@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;

    font-family: "JetBrains Mono", monospace;
    font-size: 1vw;
}

body > div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

a {
    color: white;
    text-decoration: none;
}

.gradient {
    background: linear-gradient(135deg, rgba(255,191,0,1) 0%, rgba(145,70,255,1) 100%);
}

.at {
    font-weight: bold;
    font-size: 8vw;
}

.project {
    flex-direction: column;
}

.link {
    height: fit-content;
    width: fit-content;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link > img {
    width: 100%;
    object-fit: contain;
}

.title {
    font-weight: bold;
    font-size: 2vw;
}
